.action-list {
    /* border: 1px solid red; */
    block-size: var(--actionSize); 
    display: flex;
    gap: 1rem;   
    padding: 1rem;
    background: var(--grey-4);
    align-items: center;
    box-sizing: border-box;
   
}

.action-list-start {

  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

 .action-list .action-list-form {
  position: relative;
  display: flex;
  flex: 1;
  

} 

.action-list .action-list-form  form{
  display: flex;
  flex: 1;
}

.action-list .action-list-form input{
  display: block;
  inline-size: 100%;
  block-size: 52px;
  padding-inline: 24px;
  font: var(--body-16regular);
  border-radius: 50px;
  border: none;
  overflow: hidden;
 
}




.action-list-end {
 
  padding: 0;
  margin: 0;
  
}

.search input::-webkit-input-placeholder {
  color: var(--grey);
}