.search {
    /* border: 1px solid blue; */
    background: var(--grey-3);
    position: relative;
    box-sizing: border-box;
    display: flex;
    /* flex: 1; */
}

.search i {
    /* font-size: 1rem; */
    inline-size: 1.5rem;
    block-size: 1.5rem;
    position: absolute;
    left: 2.5rem;
    /* top: .5rem; */
    top: calc(50% - .7em);
    block-size: 1.5rem;
    background-repeat: no-repeat;
   
   
}

.search input {
    display: flex;
    font: var(--body-16regular);
    border-radius: 3.12rem;
    border: none;
    /* max-inline-size: 22rem; */
    /* width: 100%; */
    padding-inline-start: 4rem;
    inline-size: 20.5rem; 
    block-size: 3rem;
    margin: 1rem;
    overflow-x: hidden;

  
}

.search input::-webkit-input-placeholder {
    color: var(--grey);
}