.main {
    /* border: 1px solid red; */
    display: flex;
    
}

.main .chat {
    inline-size: 100%;
    block-size: 950px;
    /* border: 1px solid red; */
    /* box-shadow: inset 0 0 10px  red; */
}

.main .sidebar {
    overflow: auto;
}
