.title {
    display: block;
    box-sizing: border-box;
    
    inline-size: 100%;
    block-size: 56px;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.title h2{
    /* border: 1px solid red; */
    /* background: red; */
    inline-size: 11.1875rem;
    block-size: 1.5rem;
    font-size: 22px;
    color: var(--black);
    margin-inline-start: 1rem;
    margin-block-end: 1rem;
    margin-block-start: 1rem;
}

/* .title h2 {
    background: red;
} */