.user {
   
    display: flex;
    align-items: center;
    gap: .5rem;
}

.user p span {

    display: block;
}

.user img {
    border-radius: 50%;
}

.user_name {
    font: var(--body-16regular);
}

.user-status {
    font: var(--caption-12regular);
    color: var(--grey);
    text-transform: capitalize;
}